/* 스타일 내용에 대한 설명*/
/*
html{
	background-color: blue;
}
*/
div{
	width: 200px;
	height: 200px;
	background: orange;
}

.div1{
	width: 200px;
	height: 200px;
	background: pink;
	border: 3px solid blue;
}

#div2{
	width: 200px;
	height: 200px;
	background: red;
}